<h1> MyPage </h1>
<div class="alt-table-responsive col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
  <div class="avatar">
    <%= gravatar_for @user %>
 </div>
  
  <table class="table table-condensed">
    <tr>
      <th class="col-xs-3">
        <span class="fa fa-smile-o fa-fw" aria-hidden="true"></span> 名前
      </th>
      <td class="col-sm-9 col-md-9 col-lg-9">
        <%= @user.name %>
      </td>
    </tr>
    <tr>
      <th class="col-xs-3">
        <span class="fa fa-file-text-o fa-fw" aria-hidden="true"></span> 自己紹介
      </th>
      <td class="col-sm-9 col-md-9 col-lg-9">
        <%= @user.profile %>
      </td>
    </tr>
    <tr>
      <th class="col-xs-3">
        <span class="fa fa fa-map-marker fa-fw" aria-hidden="true"></span> 居住エリア
      </th>
      <td class="col-sm-9 col-md-9 col-lg-9">
        <%= @user.area %>
      </td>
    </tr>
  </table>

<% if logged_in? %>
<div class="button-panel">
  <%= link_to "プロフィール編集" , edit_user_path(current_user), class: "btn btn-info", id: "profile-button" %>
<% else %>
<div class="button-panel">
  <%= link_to "ログインする" , login_path, class: "btn btn-info", id: "profile-button" %>
<% end %>
</div>
</div>
 