
<% if @image.present? %>
   <%= link_to image_tag("https://secure.gravatar.com/avatar/%20%20%20%20cedcc154f4b13443b66729fd407b8f4a%20%20%20%20?s=%20%20%20%2080"),@user %>
<% else %>
  <%= link_to gravatar_for(@user, size: 60), user_path(@user) %>
<% end %>

<h1><%= link_to "#{current_user.name}", user_path(current_user.id) %></h1>
<div class="patial-user-info">
  <span><%= link_to "view my profile", current_user %></span>
  <span><%= pluralize(current_user.microposts.count, "micropost") %></span>
</div>

<span class="fa fa-heart fa-fw" aria-hidden="true"></span><%= link_to " Follower #{ current_user.followed_count }", followers_user_path(current_user) %></li>
<span class="fa fa-thumbs-up fa-fw" aria-hidden="true"></span><%= link_to " Follow #{ current_user.following_count }", followings_user_path(current_user) %></li>
